<%= form_with(model: value) do |form| %>
  <% if value.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(value.errors.count, "error") %> prohibited this value from being saved:</h2>

      <ul>
        <% value.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id %>
  </div>

  <div>
    <%= form.label :image_id, style: "display: block" %>
    <%= form.number_field :image_id %>
  </div>

  <div>
    <%= form.label :value, style: "display: block" %>
    <%= form.number_field :value %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
