%body
  %header
    %ul
      %li= link_to t('.home'), root_path
      %li
        %a{:href => "/main/contacts"} Contacts
      %li
        %a{:href => "/main/help"} Help
      %li
        %a{:href => "/main/about"} About
      %li
        %a{:href => "http://rubyonrails.org"} Ruby on Rails Website

      - if signed_in?
        %li= link_to "Results", results_list_path
        %li= link_to t('.sign_out'), signout_path
        %li.logged
          = current_user.email
          %img{ src: "https://secure.gravatar.com/avatar/#{Digest::MD5.hexdigest('sea77030@gmail.com')}.png", style: "width: 25px;" }
      - else
        %li= link_to t('.sign_in'), signin_path

    .locale
      .ru_link
        = link_to image_tag("rus.png", alt: "",  style: "width: 30px; margin-right: 5px", title: "Русский" ), locale: :ru
      .en_link
        = link_to image_tag("en.png", alt: "",  style: "width: 30px; margin-right: 5px", title: "English"), locale: :en
      %b
        = I18n.locale
