<%= form_with(model: image) do |form| %>
  <% if image.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
        <% image.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :file, style: "display: block" %>
    <%= form.text_field :file %>
  </div>

  <div>
    <%= form.label :ave_value, style: "display: block" %>
    <%= form.text_field :ave_value %>
  </div>

  <div>
    <%= form.label :theme_id, style: "display: block" %>
    <%= form.number_field :theme_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
