%div{:id => "#{dom_id image}"}
  %p
    %strong Name:
    = image.name
  %p
    %strong File:
    = image.file
  %p
    %strong Ave value:
    = image.ave_value
  %p
    %strong Theme:
    = image.theme_id
