<div id="<%= dom_id image %>">
  <p>
    <strong>Name:</strong>
    <%= image.name %>
  </p>

  <p>
    <strong>File:</strong>
    <%= image.file %>
  </p>

  <p>
    <strong>Ave value:</strong>
    <%= image.ave_value %>
  </p>

  <p>
    <strong>Theme:</strong>
    <%= image.theme_id %>
  </p>

</div>
