!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MyApp
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_include_tag 'bootstrap'
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = favicon_link_tag 'ruby.png'
  = javascript_importmap_tags
  %body
    = render "shared/header"
    = render 'shared/flash'
    = yield
    = render "shared/footer"
